{
    "branch": "develop",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Semantic Versioning Changelog"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "dist/**"
                    }
                ]
            }
        ],
        [
            "@semantic-release/exec", 
            {
                "prepareCmd": "python3 -m pip install -r ./test/container_test/image_setup/requirements.txt;python3 ./test/container_test/image_setup/push_images.py REGIORGIO ff840c5fe3307a9249df27b8f7e3535da7e4e6a0 docker.pkg.github.com/safronovd/python-pravega-writer",
            }
        ],
    ]
}
